<header class="p-4 bg-green-500">
  <div class="container flex justify-between items-center mx-auto">
    <h1>FORMS</h1>
    <nav>
      <button mat-button routerLink="/home">Home</button>
      <button mat-button routerLink="/about">About</button>
      <button mat-button routerLink="/contact">Contact</button>
      <button
        mat-button
        routerLink="/dashboard"
        *ngIf="isLoggedin | async"
        data-testid="dashboard-button"
      >
        Dashboard
      </button>
    </nav>
    <button
      mat-button
      routerLink="/login"
      *ngIf="!(isLoggedin | async); else showProfile"
      data-testid="login-button"
    >
      Login
    </button>
    <ng-template #showProfile>
      <button mat-button (click)="onLogout()" data-testid="logout-button">
        Logout
      </button>
    </ng-template>
  </div>
</header>
