<form
  class="bg-white flex flex-col items-center p-8 w-fit mx-auto mt-8 border border-solid rounded"
  [formGroup]="form"
>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
    <mat-error *ngIf="email?.invalid && email?.dirty">
      You must enter a valid email address
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" />
    <mat-error *ngIf="password?.invalid && password?.dirty">
      Your password is too short
    </mat-error>
  </mat-form-field>

  <mat-error *ngIf="showMessage" class="mb-2">
    {{ errorMessage }}
  </mat-error>

  <div>
    <button mat-raised-button routerLink="signup" type="button">Sign up</button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="onSubmit()"
      class="uppercase"
      [disabled]="!form.valid"
    >
      Login
    </button>
  </div>
</form>
