<form
  class="bg-white flex flex-col items-center p-8 w-fit mx-auto mt-8 border border-solid rounded"
  [formGroup]="form"
>
  <p>
    <mat-form-field class="mr-2" appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput formControlName="firstName" />
      <mat-error *ngIf="firstName?.invalid">
        You must enter your name
      </mat-error>
    </mat-form-field>

    <mat-form-field class="ml-2" appearance="outline">
      <mat-label>Lastname</mat-label>
      <input matInput formControlName="lastName" />
      <mat-error *ngIf="lastName?.invalid">
        You must enter your last name
      </mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="mr-2" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="email?.invalid && email?.dirty">
        You must enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field class="ml-2" appearance="outline">
      <mat-label>Repeat email</mat-label>
      <input matInput formControlName="repeatEmail" />
      <mat-error *ngIf="!emailDoesMatch">
        Email address does not match
      </mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="mr-2" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" (keyup)="passwordCheck()" />
      <mat-error *ngIf="password?.dirty">
        <p *ngIf="password?.hasError('tooWeak')">Your password is too weak</p>
        <p *ngIf="!password?.invalid">Your password is too shortweak</p>
      </mat-error>
      <span> siła: {{ passwordStrength }}</span>
    </mat-form-field>

    <mat-form-field class="ml-2" appearance="outline">
      <mat-label>Repeat password</mat-label>
      <input matInput formControlName="repeatPassword" />
      <mat-error *ngIf="!passwordDoesMatch">
        Password does not match
      </mat-error>
    </mat-form-field>
  </p>

  <mat-error *ngIf="showMessage" class="mb-2">
    {{ errorMessage }}
  </mat-error>

  <div>
    <button mat-raised-button routerLink="/login" type="button">Login</button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="onSubmit()"
      class="uppercase"
      [disabled]="!form.valid"
    >
      Sign up
    </button>
  </div>
</form>
